# Group Project Proposal

## Introduction

In [2]:
options(repr.matrix.max.rows = 6)

library(tidyverse)
library(repr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
tennis <- read_csv("tennis.csv", na = c("", "NA"))

## CLeaning and Wrangling

## Replacing blanks with NA's for easier filtering
head(tennis)

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 tourney_id tourney_name surface draw_size tourney_level tourney_date
1 0    2019-M020  Brisbane     Hard    32        A             20181231
2 1    2019-M020  Brisbane     Hard    32        A             20181231
3 2    2019-M020  Brisbane     Hard    32        A             20181231
4 3    2019-M020  Brisbane     Hard    32        A             20181231
5 4    2019-M020  Brisbane     Hard    32        A             20181231
6 5    2019-M020  Brisbane     Hard    32        A             20181231
  match_num winner_id winner_seed ⋯ l_1stIn l_1stWon l_2ndWon l_SvGms l_bpSaved
1 300       105453    2           ⋯ 54      34       20       14      10
2 299       106421    4           ⋯ 52      36        7       10      10
3 298       105453    2           ⋯ 27      15        6        8       1
4 297       104542    NA          ⋯ 60      38        9       11       4
5 296       106421    4           ⋯ 56      46       19       15       2
6 295       104871    NA          ⋯ 54      40       18       15       6
  l_bpFaced winner_rank winner_rank_points loser_rank loser_rank_points
1 15          9         3590                16        1977
2 13         16         1977               239         200
3  5          9         3590                40        1050
4  6        239          200                31        1298
5  4         16         1977                18        1855
6  9         40         1050               185         275

In [6]:
tennis_remove_blank_heights <- tennis[!(is.na(tennis$winner_ht) | is.na(tennis$loser_ht)), ]
tennis_summarized <- tennis_remove_blank_heights |>
    summarize(
        avg_winner_ht = mean(winner_ht), 
        avg_winner_age = mean(winner_age),
        avg_loser_ht = mean(loser_ht),
        avg_loser_age = mean(loser_age)) 

tennis_summarized

players_match_count <- tennis |>
    group_by(winner_name) |>
    summarize(
        match_count = sum(tennis$winner_name == winner_name)
    ) |>
    arrange(desc(match_count))

players_match_count

  avg_winner_ht avg_winner_age avg_loser_ht avg_loser_age
1 186.7431      29.69015       186.1346     29.90483

Warning message:
“There were 193 warnings in `summarize()`.
The first warning was:
ℹ In argument: `match_count = sum(tennis$winner_name == winner_name)`.
ℹ In group 1: `winner_name = "Adam Pavlasek"`.
Caused by warning in `tennis$winner_name == winner_name`:
! longer object length is not a multiple of shorter object length
ℹ Run `dplyr::last_dplyr_warnings()` to see the 192 remaining warnings.”

    winner_name    match_count
1   Rafael Nadal   152
2   Dominic Thiem  142
3   Novak Djokovic 139
⋮   ⋮              ⋮
253 Yshai Oliel    1
254 Zhe Li         1
255 Zsombor Piros  1